.message {
  display: flex;
  flex-direction: column;
  width: 100%;

  .message-wrapper {
    display: flex;
    align-items: center;
    width: 100%;
    .message__avatar {
      width: 2rem;
      height: 2rem;
      margin-right: 0.5rem;

      img {
        display: none;
      }
    }
    .message__text {
      max-width: 80%;
      margin-top: 0.25rem;
      padding: 0.5rem 0.75rem;
      word-wrap: break-word;

      &.slide-up {
        animation: slideUp 0.3s linear;
      }
    }
  }
  &--sent {
    align-items: flex-end;
    .message-wrapper {
      justify-content: flex-end;
      .message__name {
        display: none;
      }

      .message__text {
        background-color: var(--bg-primary);
        outline: 1.5px solid var(--bg-secondary);
        border-radius: 1rem 0.1rem 0.1rem 1rem;
        box-shadow: 2px 2px 2px var(--shadow);
      }
    }
    &.first {
      .message__text {
        border-bottom-right-radius: 1rem;
      }
    }

    &.last {
      .message__text {
        border-top-right-radius: 1rem;
      }
    }
  }

  &--received {
    align-items: flex-start;

    .message__text {
      background-color: var(--bg-secondary);
      border-radius: 0.1rem 1rem 1rem 0.1rem;
      box-shadow: -2px 2px 2px var(--shadow);
    }

    &.first {
      .message__text {
        border-bottom-left-radius: 1rem;
      }
    }

    &.last {
      .message__text {
        border-top-left-radius: 1rem;
      }
    }
  }

  &--system {
    text-align: center;
    margin: 1rem 0;
    .message__time {
      font-size: 0.6rem;
      display: inline;
      transform: none;
    }
    .message__text {
      font-size: 1rem;
      font-style: italic;
      text-align: center;
      opacity: 0.9;
    }
  }

  &__name {
    margin-left: 3rem;
  }
  &__time {
    transform: translateY(25%);
  }
  &__name,
  &__time {
    opacity: 0.8;
    font-size: 0.65rem;
    display: none;
  }

  &.last {
    margin-top: 1rem;
    .message__name {
      display: inline-block;
    }
  }
  &.first {
    margin-bottom: 1rem;
    .message__time {
      display: inline-block;
    }
    .message__avatar {
      img {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 100%;
      }
    }
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
