.signup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  &__header {
    .title {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .content {
      font-weight: normal;
    }
  }
  &__form {
    width: 40%;
    text-align: center;

    .input + .btn {
      margin-top: 2.5rem;
    }
    .boundary {
      margin: 1.5rem 0 0.5rem;
      position: relative;
      height: 1px;
      background-color: var(--text-secondary);
      span {
        width: auto;
        position: absolute;
        transform: translate(-50%, -50%);
        padding: 0 2rem;
        color: var(--text-secondary);
        background-color: var(--bg-primary);
      }
    }
  }
  @media (max-width: 1024px) {
    &__form {
      width: 50%;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: unset;

    &__header {
      text-align: center;
      margin: 2rem 0 1rem;
    }

    &__form {
      width: 95%;
    }
  }
}
