.wrapper {
  background-color: var(--bg-secondary);
  color: var(--text-primary);

  height: calc(100vh - 4.5rem);
  padding: 2rem 0;
  .container {
    height: 100%;
  }

  @media (max-width: 768px) {
    min-height: calc(100vh - 4.5rem);
    height: unset;
  }
}
