.header {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  height: 4.5rem;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 2rem;
    font-weight: 200;

    @media (max-width: 480px) {
      padding: 0.5rem;
    }
  }

  &__title {
    color: var(--logo);
    font-size: 2.5rem;
  }
  &__theme-btn {
    font-size: 1.25rem;
  }
  &__auth {
    display: flex;
    align-items: center;
    .auth__user {
      margin-right: 0.5rem;
      .user__avatar {
        width: 2rem;
        height: 2rem;
        margin: 0 auto;
      }
      .user__name {
        font-size: 0.85rem;
        font-weight: lighter;
        font-style: italic;
      }
    }
    a + a {
      padding-left: 0.5rem;
      margin-left: 0.5rem;
      border-left: 1px solid var(--text-primary);
    }
    a:hover {
      opacity: 0.75;
    }
  }
}
